.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(225, 225, 230, 0.8);
}

.modal-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 38%;
  max-width: 30em;
  min-width: 20em;
  background-color: rgb(235, 235, 250);
  padding: 30px;
  z-index: 10000;
  border-radius: 20px;
  box-shadow: 8px 8px 8px rgba(0,0,0,0.4);
  border: thin solid skyblue;
}